<div class="text-field">
  <%= form.label :first_name, class: 'sr-only' %>
  <%= form.text_field :first_name, class: 'form-control',placeholder: 'First Name', required: true %>
</div>

<div class="text-field">
  <%= form.label :last_name, class: 'sr-only' %>
  <%= form.text_field :last_name, class: 'form-control',placeholder: 'Last Name', required: true %>
</div>

<div class="text-field">
  <%= form.label :email, class: 'sr-only' %>
  <%= form.text_field :email, class: 'form-control',placeholder: 'Email',type: 'email', required: true %>
</div>

<div class="password-field">
  <%= form.label :password, class: 'sr-only' %>
  <%= form.password_field :password, class: 'form-control', placeholder: 'password', required: true %>
</div>